# Dependencies
node_modules/
plp-backend/node_modules/
plp-frontend/node_modules/

package-lock.json
plp-backend/package-lock.json
plp-frontend/package-lock.json

#static files
plp-frontend/dist/

# Version control
plp-frontend/version.json

# Uploads directory
plp-backend/uploads/

# Sqlite database
database.sqlite
plp-backend/database.sqlite

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/